.button{
    height: 50px;
    border-radius: 8px;
    font-weight: 500;
    background-color: #835af3 ;
    color: #fff;
    padding: 0 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 0;

    transition: filter 0.2s;

    
    &.red{
      background-color: #E73F5D;
      color: #fff;
    }
    
  &.default{
    background-color: #DBDCDD;
    color: #737380;
  }
  
  &.outlined{
    background: #fff;
    border:1px solid #835af3 ;
    color: #835af3;
  }
  img { 
    margin-right: 8px;
  }
  &:not(:disabled):hover {
    filter: brightness(0.9);
  }
  &:disabled{
    opacity: 0.6;
    cursor: not-allowed;
  }


  .dark &.outlined{


    transition: all 1s;
    background: transparent;
    color: #E73F5D;
    border-color: #E73F5D;
    
    
    &:hover{
      background-color: rgba(231, 63, 93,0.3);
    }
    
  }
  
}

